$background-color: #f5f5f5;
$grey-color: #e1e1e1;
$light-grey-color: #eaeaea;
$medium-grey-color: #bfbfbf;
$medium-grey-color2: #a5a5a5;
$dark-grey-color: #626262;
$pink-color: #d62477;
$purple-color: #661577;
$green-color: #49cba4;
$medium-green-color: #3eb994;
$dark-green-color: #2bb673;
$alert-warning-border-color: #ffec83;
$alert-warning-background-color: #fcf7de;
$alert-warning-text-color: #ae7b25;