$background-color: #f5f5f5;
$grey-color: #e1e1e1;
$medium-grey-color: #bfbfbf;
$dark-grey-color: #626262;
$pink-color: #d62477;
$purple-color: #661577;
$green-color: #49cba4;
$dark-green-color: #2bb673;