@import '../styles/color-variables';
@import '../styles/size-variables';

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  span {
    color: $dark-green-color;
    font-size: 100px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin: 0;
    color: $dark-grey-color;
  }
  .primary {
    font-weight: bold;
  }
  .button-container {

  }
  @media(max-width: $xs-max) {
    .button-container {
      display: none;
    }
    p {
      font-size: 22px;
    }
  }
  @media(min-width: $sm-min) {
    .button-container {
      margin-top: 40px;
    }
    p {
      font-size: 32px;
      line-height: 1.2;
    }
  }
}