@import '../styles/size-variables';
@import '../styles/color-variables';

.price-container {
  padding: 50px 100px;
  .price-value {
    display: flex;
    justify-content: center;
    .decimal-periodicy-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .currency {
      font-size: 16px;
      color: $dark-grey-color;
    }
    .integer {
      color: $purple-color;
      font-weight: bold;
      font-size: 90px;
      line-height: 0.8;
    }
    .decimal {
      color: $purple-color;
      font-weight: bold;
      font-size: 30px;
    }
    .periodicy {
      font-size: 16px;
      line-height: 1;
      color: $pink-color;
    }
  }
  @media(max-width: $sm-max) {
    .price-description {
      display: none;
    }
  }
  @media(min-width: $md-min) {
    .price-description {
      margin-top: 40px;
      padding-top: 10px;
      border-top: 2px dotted $medium-grey-color;
      .payment-description {
        display: flex;
        color: $dark-grey-color;
        margin-bottom: 8px;
        img {
          margin-right: 8px;
        }
        p {
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
}