@import '../styles/color-variables';
@import '../styles/size-variables';

.sexlog-button {
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: $green-color;
  flex-grow: 1;
  border: none;
  &.purple {
    background-color: $purple-color;
  }
  @media(min-width: $sm-min) {
    border-radius: 5px;
    padding: 15px 83px;
    flex-grow: 0;
  }
}