@import '../styles/size_variables';
@import '../styles/color-variables';

.sexlog-modal {
  @media(max-width: $xs-max) {
    .modal-dialog {
      margin: 0;
      .modal-content {
        height: 100vh;
        background-color: $background-color;
      }
    }
  }
}