@import '../styles/size_variables';
@import '../styles/color-variables';

.sexlog-modal {
  .modal-dialog {
    .modal-content {
      background-color: $background-color;
      border: none;
    }
  }
  @media(max-width: $xs-max) {
    padding-left: 0 !important;
    .modal-dialog {
      margin: 0;
      .modal-content {
        width: 100%;
        min-height: 100vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  @media(min-width: $sm-min) {
    .modal-dialog {
      .modal-content {
        border-radius: 5px;
      }
    }
  }
}